<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleForm.css}"/>
    <!--<script type="text/javascript" src="<c:url value='/assets/js/form.js'/>"></script>-->

</head>
<body>

<div class="container">


    <div class="login" th:switch="${user.userName}">
        <span th:case="${T(pl.wojak.geoquiz.constant).ANONYMOUS_NAME}">
            <a href="../user/login"> Zaloguj </a> &nbsp; || &nbsp;
            <a href="../user/register"> Zarejestruj się </a>
        </span>
        <span th:case="null">
            <a href="../user/login"> Zaloguj </a> &nbsp; || &nbsp;
            <a href="../user/register"> Zarejestruj się </a>
        </span>
        <span th:case="*">
            <span th:text="${user.userName}+ '&nbsp;||&nbsp;'" th:remove="tag"></span>
            <a href="../user/logout"> (Wyloguj) </a>
        </span>
    </div>


    <div class="main">
        <h1>GEO-QUIZ: Państwa - Stolice</h1>

        <br>
        <br>


        <form th:object="${gameParamFormDTO}" method='POST'>
            <table>
                <tr>
                    <!--<td th:text="'Wybierz zakres gry: '"></td>-->
                    <td>
                        <select th:field="*{gameParamFormDTO.continents}">
                            <option
                                    th:each="continent: ${continents}"
                                    th:value="${continent}"
                                    th:text="${continent}"></option>
                        </select>
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td th:text="'Wybierz poziom trudności: '"></td>-->
                    <!--</tr>-->
                <!--<tr>-->
                    <!--<td th:each=" level : ${levels}">-->
                        <!--<input type="radio" th:label="{level}" />-->
                    <!--</td>-->

                <!--</tr>-->
            </table>
        </form>

        <ul>
            <li th:each="ty : ${levels}">
                <input type="radio" th:field="*{ty}" th:value="${ty}"/>
            </li>
        </ul>


    </div>


    <div id="footer">
        <a href="newgame"> Nowa Gra </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="saved"> Wczytaj grę </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz"> Strona Główna </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all"> Ciekawostki </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="end"> Koniec </a>

    </div>

</div>
</body>
</html>

