<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleForm.css}"/>
    <!--<script type="text/javascript" src="<c:url value='/assets/js/form.js'/>"></script>-->

</head>
<body>

<div class="container">


    <div class="login" th:switch="${user.userName}">
        <span th:case="${T(pl.wojak.geoquiz.constant).ANONYMOUS_NAME}">
            <a href="../user/login" th:text="#{login}"> </a> &nbsp; || &nbsp;
            <a href="../user/register" th:text="#{register}">  </a>
        </span>
        <span th:case="null">
            <a href="../user/login" th:text="#{login}"> </a> &nbsp; || &nbsp;
            <a href="../user/register" th:text="#{register}"> </a>
        </span>
        <span th:case="*">
            <span th:text="${user.userName}+ '&nbsp;||&nbsp;'" th:remove="tag"></span>
            <a href="../user/logout" th:text="#{logout}"> </a>
        </span>
    </div>


    <div class="main">
        <h1 th:text="#{index.title}"></h1>
        <br>
        <br>

        <form action="#" th:action="@{/game/newgame}" th:object="${gameParamFormDTO}" method="post">
            <h3>
                <label th:text="#{game.param.area}"></label>
                <select th:field="*{continents}">
                    <option
                            th:each="continent: ${continents}"
                            th:value="${continent}"
                            th:text="${continent.name}"></option>
                </select>
            </h3>

            <h3 th:text="#{game.param.level}"></h3>
            <td th:each="level : *{levels}">
                <input type="radio" th:id="${{level}}" th:value="${{level}}" th:field="*{levels}"/>
                <label th:for="${{level}}" th:text="${{level.name}}"></label>
            </td>
            <div>
                <input type="submit" th:value="#{button.play}">
            </div>
        </form>
    </div>


    <div id="footer">
        <a href="newgame" th:text="#{footer.newgame}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="saved" th:text="#{footer.saved}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz" th:text="#{footer.mainPage}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all" th:text="#{footer.quiz}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="end" th:text="#{footer.end}"> </a>
    </div>

</div>
</body>
</html>


<!--Sposób na wyciągnięcie enumów:-->
<!--<td th:each="level : ${T(pl.wojak.geoquiz.enums.DifficultyLevelEnum).values()}">-->