<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleIndex.css}"/>
</head>
<body>
<div id="container">

    <div id="login" th:switch="${user.userName}">
        <span th:case="${T(pl.wojak.geoquiz.constant).ANONYMOUS_NAME}">
            <a href="../user/login"> Zaloguj </a> &nbsp; || &nbsp;
            <a href="../user/register"> Zarejestruj się </a>
        </span>
        <span th:case="null">
            <a href="../user/login"> Zaloguj </a> &nbsp; || &nbsp;
            <a href="../user/register"> Zarejestruj się </a>
        </span>
        <span th:case="*">
            <span th:text="${user.userName}+ '&nbsp;||&nbsp;'" th:remove="tag"></span>
            <a href="../user/logout"> (Wyloguj) </a>
        </span>
    </div>


    <div id="main">
        <h1>GRA GEO-QUIZ: Państwa - Stolice</h1>
        <h1 th:text="${user == null} ? ' Dzięki za grę!': ${user.userName} + ' Dzięki za grę!'"></h1>
        <br> <br>
        <div class="center">
            <!-- source: https://d.wpimg.pl/492663152-1119541322/hubert-urbanski.jpg -->
            <img alt="Hubert Urbański pyta:" th:src="@{/img/hubert.png}"/>
        </div>
        <br>
        <h2>Może jednak?</h2>

        <div class="options">
            <h2>
                <a href="form"> Graj Dalej! </a>
                &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="/geoquiz"> Koniec Gry </a>
            </h2>
        </div>

        <div class="center margin-top">
            <p th:text="${game == null} ? '' : 'Liczba punktów: '+ ${game.amountOfPoints} + '&nbsp;&nbsp;|&nbsp;&nbsp;Liczba prób:'+${game.amountOfAttempts}"></p>
        </div>
    </div>

    <div id="footer">
        <a href="newgame"> Nowa Gra </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="saved"> Wczytaj grę </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz"> Strona Główna </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all"> Ciekawostki </a>
    </div>


</div>
</body>
</html>
