<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleForm.css}"/>
</head>
<body>


<div class="container">


    <div class="login" th:switch="${user.userName}">
        <span th:case="${T(pl.wojak.geoquiz.constant).ANONYMOUS_NAME}">
            <a href="../user/login" th:text="#{login}"> </a> &nbsp; || &nbsp;
            <a href="../user/register" th:text="#{register}">  </a>
        </span>
        <span th:case="null">
            <a href="../user/login" th:text="#{login}"> </a> &nbsp; || &nbsp;
            <a href="../user/register" th:text="#{register}"> </a>
        </span>
        <span th:case="*">
            <span th:text="${user.userName}+ '&nbsp;||&nbsp;'" th:remove="tag"></span>
            <a href="../user/logout" th:text="#{logout}"> </a>
        </span>
    </div>

    <div class="main">

        <h1 th:text="#{index.title}"></h1>
        <h2>Stolice danego państwa:</h2>

        <form action="#" th:action="@{/game/form}" th:object="${countryForm}" method="post">
            <table class="form">
                <tr>
                    <th th:text="#{label.country }"></th>
                    <th th:text="#{label.capital }"></th>
                    <th th:text="#{label.answer }"></th>
                    <th th:text="#{label.correct }"></th>
                </tr>
                <th:block th:each="country, itemStat : *{countriesFormDTO}">
                    <tr>
                        <td th:text="${country.countryName}"></td>
                        <td th:text="${country.capital}"></td>
                        <td th:text="*{countriesFormDTO[__${itemStat.index}__].guessedCapital}"></td>
                        <td th:text="*{countriesFormDTO[__${itemStat.index}__].result}"></td>
                        <!--https://www.baeldung.com/thymeleaf-list-->
                    </tr>
                </th:block>
                <tr>
                    <td colspan="4" class="amounts center">
                        <p th:text="#{game.points(${game.amountOfPoints},${game.amountOfAttempts})}"></p>
                    </td>
                </tr>
            </table>

        </form>

        <div class="center margin-top">
            <p th:text="#{game.allPoints(${game.amountOfPoints},${game.amountOfAttempts})}"></p>
        </div>
        <div class="options margin-top">
            <h2>
                <a href="form" th:text="#{button.playFurther}"> </a>
                &nbsp;&nbsp; | &nbsp;&nbsp;
                <a href="/game/end" th:text="#{button.end}"> </a>
            </h2>
        </div>
    </div>


    <div id="footer">
        <a href="newgame" th:text="#{footer.newgame}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="saved" th:text="#{footer.saved}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz" th:text="#{footer.mainPage}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all" th:text="#{footer.quiz}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="end" th:text="#{footer.end}"> </a>
    </div>


</div>
</body>