<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleIndex.css}"/>
</head>
<body>
<div id="container">

    <div id="login" th:switch="${user.userName}">
        <span th:case="${T(pl.wojak.geoquiz.constant).ANONYMOUS_NAME}">
            <a href="../user/login" th:text="#{login}"> </a> &nbsp; || &nbsp;
            <a href="../user/register" th:text="#{register}">  </a>
        </span>
        <span th:case="null">
            <a href="../user/login" th:text="#{login}"> </a> &nbsp; || &nbsp;
            <a href="../user/register" th:text="#{register}"> </a>
        </span>
        <span th:case="*">
            <span th:text="${user.userName}+ '&nbsp;||&nbsp;'" th:remove="tag"></span>
            <a href="../user/logout" th:text="#{logout}"> </a>
        </span>
    </div>


    <div id="main">
        <h1 th:text="#{index.title}"></h1>
        <br>
        <h2 th:text="#{game.form.list(${user.userName})}"></h2>
        <br>
        <table class="sav">
            <tr>
                <th th:text="#{label.gameNr}"></th>
                <th th:text="#{label.date}"></th>
                <th th:text="#{label.points}"></th>
                <th th:text="#{label.attempts}"></th>
                <th th:text="#{label.level}"></th>
                <th th:text="#{label.area}"></th>
                <th th:text="#{label.action}"></th>
            </tr>
            <th:block th:each="game :${games}">
                <tr>
                    <td th:text="${game.userGameId}"></td>
                    <td th:text="${#temporals.format(game.modificationDate, 'yyyy-MM-dd HH:mm')}"></td>
                    <td th:text="${game.amountOfPoints}"></td>
                    <td th:text="${game.amountOfAttempts}"></td>
                    <td th:text="${game.level}"></td>
                    <td th:text="${game.area}"></td>
                    <td>
                        <span th:if="${user.userName == T(pl.wojak.geoquiz.constant).ANONYMOUS_NAME}">
                            <a class="noneDecoration" th:href="@{/game/load(id=${game.id})}" th:text="#{button.load}"></a>
                        </span>
                        <span th:unless="${user.userName ==T(pl.wojak.geoquiz.constant).ANONYMOUS_NAME}">
                            <a class="noneDecoration" th:href="@{/game/load(id=${game.id})}" th:text="#{button.load}"></a>
                            &nbsp; | &nbsp;
                            <a class="noneDecoration" th:href="@{/game/delete(id=${game.id})}" th:text="#{button.delete}"></a>
                        </span>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>

    <div id="footer">
        <a href="newgame" th:text="#{footer.newgame}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="saved" th:text="#{footer.saved}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz" th:text="#{footer.mainPage}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all" th:text="#{footer.quiz}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="end" th:text="#{footer.end}"> </a>
    </div>


</div>
</body>
</html>
