<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleIndex.css}"/>
</head>
<body>


<div id="container">


    <div id="login" th:switch="${user.userName}">
        <span th:case="${T(pl.wojak.geoquiz.constant).ANONYMOUS_NAME}">
            <a href="../user/login" th:text="#{login}"> </a> &nbsp; || &nbsp;
            <a href="../user/register" th:text="#{register}">  </a>
        </span>
        <span th:case="null">
            <a href="../user/login" th:text="#{login}"> </a> &nbsp; || &nbsp;
            <a href="../user/register" th:text="#{register}"> </a>
        </span>
        <span th:case="*">
            <span th:text="${user.userName}+ '&nbsp;||&nbsp;'" th:remove="tag"></span>
            <a href="../user/logout" th:text="#{logout}"> </a>
        </span>
    </div>


    <div id="main">
        <h1 th:text="#{index.title}"></h1>
        <br> <br>
        <h1 th:text="#{game.win}"></h1>

        <div class="center margin-top">
            <p th:text="${game == null} ? '' : #{game.points(${game.amountOfPoints},${game.amountOfAttempts})}"></p>
        </div>
    </div>

    <h2 th:text="#{index.thanks}"></h2>
    <p th:text="#{index.autor}"></p>


    <div id="footer">
        <a href="newgame" th:text="#{footer.newgame}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="saved" th:text="#{footer.saved}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz" th:text="#{footer.mainPage}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all" th:text="#{footer.quiz}"> </a>
    </div>

</div>
</body>
</html>