<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleIndex.css}"/>
</head>
<body>

<div id="container">

    <div id="main">

        <h1 th:text="#{index.title}"></h1>
        <h2>Nastąpiło poprawne wylogowanie.</h2>
        <br> <br>

        <div>
            <h1>
                <a href="/geoquiz"> Strona Główna </a>
            </h1>
        </div>
    </div>


</div>

</body>
</html>
