<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zaloguj się</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleRegisterLogin.css}"/>
</head>
<body>

<div id="container">
    <div class="form">
        <form action="#" th:action="@{/user/login}" th:object="${user}" method="post">
            <fieldset>
                <legend> Formularz logowania:</legend>
                <p style="color:green;" th:text="${registered}" th:unless="${registered == null}"></p>
                <input th:field="*{userName}" type="text" placeholder="login"/>
                <errors th:field="*{userName}" class="error"/>
                <input th:field="*{password}" type="password" placeholder="hasło"/>
                <errors th:field="*{password}" class="error"/>
                <p th:text="${zle}" th:unless="${zle == null}"></p>

                <input type="submit" value="Zaloguj"/>
                <label class="label">
                    <!-- to work through that link, it has to be @RequestMapping in LoginController - register -->
                    Nie masz konta: &nbsp; <a href="register"> Zarejestruj się </a>
                </label>
            </fieldset>
        </form>
    </div>

    <div class="options margin-top">
        <a href="../game/newgame"> Nowa Gra </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../game/saved"> Wczytaj grę </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz"> Strona Główna </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all"> Ciekawostki </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../game/end"> Koniec </a>
    </div>
</div>


</body>
</html>
