<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleRegisterLogin.css}"/>
</head>
<body>

<div id="container">
    <div class="form">
        <form action="#" th:action="@{/user/login}" th:object="${user}" method="post">
            <fieldset>
                <legend th:text="#{user.loginForm}"></legend>

                <p style="color:green;" th:text="${registered}" th:unless="${registered == null}"></p>
                <input th:field="*{userName}" th:type="text" th:placeholder="#{user.loginPlaceholder}"/>
                <errors th:field="*{userName}" class="error"></errors>
                <input th:field="*{password}" th:type="password" th:placeholder="#{user.passwordPlaceholder}"/>
                <errors th:field="*{password}" class="error"></errors>
                <p th:text="${zle}" th:unless="${zle == null}"></p>
                <input type="submit" th:value="#{login}"/>

                <span th:text="#{user.noAccount}"></span>
                <a href="register" th:href="@{register}"><b th:text="#{register}"></b> </a>
                
            </fieldset>
        </form>
    </div>

    <div class="options margin-top">
        <a href="../game/newgame" th:text="#{footer.newgame}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../game/saved" th:text="#{footer.saved}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz" th:text="#{footer.mainPage}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all" th:text="#{footer.quiz}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../game/end" th:text="#{footer.end}"> </a>
    </div>
</div>


</body>
</html>
