<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleIndex.css}"/>
</head>
<body>

<div id="container">

    <div id="main">

        <h1 th:text="#{index.title}"></h1>
        <h1 th:text="#{user.logout(${user.userName})}" th:unless="${user==null}"></h1>
        <br> <br>

        <div class="options">

            <h2>
                <a href="loggedout" th:text="#{yes}"> </a>
            </h2>
            &nbsp;&nbsp; || &nbsp;
            <h2>
                <a href="/geoquiz" th:text="#{no}"> </a>
            </h2>

        </div>


    </div>
</div>
</body>
</html>
