<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GEO-QUIZ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleRegisterLogin.css}"/>
</head>
<body>

<div id="container">

    <div class="form">
        <form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
            <errors path="*"></errors>
            <fieldset>
                <legend th:text="#{user.registerForm}"></legend>
                <input th:field="*{userName}" th:type="text" th:placeholder="#{user.loginPlaceholder}"/>
                <errors th:field="*{userName}" class="error"></errors>
                <input th:field="*{email}" th:type="email" th:placeholder="#{user.emailPlaceholder}"/>
                <errors th:field="*{email}" class="error"></errors>
                <input th:field="*{password}" th:type="password" th:placeholder="#{user.passwordPlaceholder}"/>
                <errors th:field="*{password}" class="error"></errors>
                <input th:field="*{verifiedPassword}" th:type="password" th:placeholder="#{user.repeatPasswordPlaceholder}"/>
                <errors path="verifiedPassword" class="error"></errors>
                <input th:type="submit" th:value="#{register}">

                <label>
                    <span th:text="#{user.haveAccount}"></span>
                    <a th:href="@{login}"><b th:text="#{login}"></b> </a>
                </label>

            </fieldset>
        </form>
    </div>

    <div class="options margin-top">
        <a href="../game/newgame" th:text="#{footer.newgame}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../game/saved" th:text="#{footer.saved}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz" th:text="#{footer.mainPage}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all" th:text="#{footer.quiz}"> </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../game/end" th:text="#{footer.end}"> </a>
    </div>

</div>

</body>
</html>