<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Zarejestruj się</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styleRegisterLogin.css}"/>
</head>
<body>

<div id="container">

    <div class="form">
        <form action="#" th:action="@{/user/register}" th:object="${user}" method="post">
            <errors path="*"></errors>
            <fieldset>
                <legend> Formularz rejestracji:</legend>
                <input th:field="*{userName}" type="text" placeholder="login"/>
                <errors th:field="*{userName}" class="error"/>
                <input th:field="*{email}" type="email" placeholder="email"/>
                <errors th:field="*{email}" class="error"/>
                <input th:field="*{password}" type="password" placeholder="hasło"/>
                <errors th:field="*{password}" class="error"/>
                <input th:field="*{verifiedPassword}" type="password" placeholder="powtórz hasło"/>
                <errors path="verifiedPassword" class="error"/>
                <input type="submit" value="Zarejestruj się">

                <label class="label">
                    Masz konto: &nbsp; <a href="login"> Zaloguj się </a>
                </label>

            </fieldset>
        </form>
    </div>

    <div class="options margin-top">
        <a href="../game/newgame"> Nowa Gra </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../game/saved"> Wczytaj grę </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="/geoquiz"> Strona Główna </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../funfact/all"> Ciekawostki </a> &nbsp;&nbsp; | &nbsp;&nbsp;
        <a href="../game/end"> Koniec </a>
    </div>

</div>

</body>
</html>